/workprime01/target
/workprime01/project/target
/workprime01/.idea/
/workprime02/target
/workprime02/project/target
/workprime02/.idea/
/workprime03/target
/workprime03/project/target
/workprime03/.idea/
/workprime03/runapp.bat
